@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&display=swap');

* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    color: #fff;
    /* overflow: hidden; */
}

.container {
    /* background:linear-gradient(to right,#AB46D2, #DE834D, #A85CF9, #FFE6AB, #FFD59E, #C65D7B, #7FB5FF); */
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

}

.form-container {
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    width: 450px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 7px 7px 60px black;
    height: fit-content;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1.75em;
    background: linear-gradient(to right, #AB46D2, #DE834D, #A85CF9, #FFE6AB, #FFD59E, #C65D7B, #7FB5FF);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.control input {
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    border: none;
    outline: none;
    margin: 1em 0;
    border-radius: 10px;
    border: solid 2px black;
    font-size: 1em;
}


.control button {
    width: 100%;
    display: block;
    padding: 10px;
    border: none;
    outline: none;
    margin: 1em 0;
    border-radius: 10px;
    border: solid 2px black;
    background: rgb(238, 238, 238);
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.control button:hover {
    opacity: 1;
}

.link {
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.link a:hover {
    opacity: 1;
    color: lightblue;

}
